		body{
			background-image:url("oceanBackg.png");
			background-size:cover;
			background-repeat:no-repeat;
			height:100vh;
			width:100vw;
		}

		.creature{
			background-size:contain;
			background-repeat:no-repeat;
			position:absolute;

		}

		#anemone{
			background-image:url("anemone.png");
			height:40vh;
			width:30vw;
			top:30vh;
			left:5vw;
			transition:0.2s;
		}

		#anemone:hover{
			background-image:url("anemone.png");
			height:45vh;
			width:35vw;
			top:30vh;
			left:5vw;
			transition:0.2s;
			opacity:1;
		}

		#turtle{
			background-image:url("turtle.png");
			height:35vh;
			width:28vw;
			top:15%;
			left:55%;
			transition:0.3s;
			opacity:1;
		}

		#turtle:hover{
			background-image:url("turtle.png");
			background-repeat:repeat;
			height:240px;
			width:200px;
			top:15%;
			left:55%;
			transition:0.3s;
			opacity:1;
		}

		#swordfish{
			background-image:url("swordfish.png");
			height:200px;
			width:300px;
			top:65%;
			left:45%;
			transition:0.3s;
		}

		#swordfish:hover{
			background-image:url("swordfish.png");
			height:200px;
			width:300px;
			top:65%;
			left:25%;
			transition:0.3s;
		}

		#polarBear{
			background-image:url("polarBear.png");
			height:200px;
			width:250px;
			top:10%;
			left:60%;
		}

		#ocean{
			left:40%;
			top:2%;
			position:absolute;
			color:black;
			height:200px;
			font-size:20pt;
		}

		#bubble1{
			top:73%;
			left:30%;
		}

		#bubble2{
			top:15%;
			left:15%;
		}

		#bubble3{
		}

		.bubble{
			background-image:url("bubbles.png");
			height:120px;
			width:100px;
			position:absolute;
			background-size:contain;
			background-repeat:no-repeat;
		}

		#back{
			background-color:black;
			color:white;
			position:absolute;
			top:60%;
			left:2%;
			height:50px;
			width:250px;
			opacity:0;
			font-size:30pt;
			padding:10pt;
		}

		#returnToWorld{
			background-image:url("worldMap.png");
			background-size:contain;
			background-repeat:no-repeat;
			position:absolute;
			height:10vh;
			width:20vw;
			top:87vh;
			left:3vw;
		}